<div class="mb-4 mt-2 clearfix">
  <h3 class="d-inline-block mb-0">Countries</h3>
  <%= link_to '<i class="fas fa-plus"></i> Add new country'.html_safe, new_admin_country_path, data: { remote: true, 'data-toggle': "modal", 'data-target': '#country_form_modal' }, class: "float-right btn btn-primary", title: "Add new country" %>
</div>

<div class="modal fade" id="country_form_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover text-center country-list-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @countries.each.with_index(1) do |country, index| %>
        <tr>
          <th scope="row"><%= index %></th>
          <td><%= country.name %></td>
          <td><%= country.code %></td>
          <td><%= country.active ? '<i class="far fa-check-circle" title="Active"></i>'.html_safe : '<i class="far fa-times-circle" title="Deactive"></i>'.html_safe %></td>
          <td>
            <%= link_to ('<i class="fas fa-pencil-alt"></i>').html_safe, edit_admin_country_path(country), data: { remote: true, 'data-toggle': "modal", 'data-target': '#country_form_modal' }, class: "mr-2", title: "Edit" %>
            <%= delete_link admin_country_path(country), class_name="ml-2" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
